<section>
  <div class="list-posters">
    <div class="title-list-post">
      <p>Últimas postagens</p>
    </div>
    <ol>
      <li>
        <p>Título Postagem</p>
        <p>Data Postagem</p>
        <p>Ações</p>
      </li>

      @for (post of listPost$ | async; track post.id) {
      <li>
        <p>{{ post.title }}</p>
        <p>{{ post.date | transformDate}}</p>
        <p>
          <button class="btn-modify">Alterar</button>
          <button class="btn-delete">Excluir</button>
        </p>
      </li>
      }@empty {
        <li>
          <p>Nenhum post foi encontrado!</p>
        </li>
      }
    </ol>
  </div>
</section>
