ol{
  list-style: none;
  padding: 0;
  margin: 0;
}
ol li{
  border-bottom: 2px solid #ccc;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
ol li:nth-of-type(1){
  background-color: #ccc;
  color: #3a4655;
}

ol li:nth-of-type(1) p{
  font-size: 20px;
  margin-bottom: 1%;
}

ol li p{
  font-weight: 600;
  font-family: 'Coda';
  font-size: 14px;
  margin-left: 4%;
  text-align: center;
  align-self: center;
}
ol li p:nth-of-type(1){
  text-align: left;
}

ol li p a{
  color: #1e1e1e;
  text-decoration: none;
}

ol li p a:hover{
  color: #3a4655;
}
