<section>
  <div class="list-posters">
    <div class="title-list-post">
      <p>Últimas postagens</p>
    </div>
    <ol>
      <li>
        <p>Título Postagem</p>
        <p>Data Postagem</p>
        <p>Ações</p>
      </li>
      <li>
        <p>O coringa mata sorrindo e o urso mata abrançando.</p>
        <p>01/02/2024</p>
        <p>
          <button class="btn-modify">Alterar</button>
          <button class="btn-delete">Excluir</button>
        </p>
      </li>
    </ol>
  </div>
</section>
