<section>
  <div class="list-posters">
    <div class="title-list-post">
      <p>Últimas postagens</p>
    </div>
    <ol>
      <li>
        <p>Título Postagem</p>
        <p>Data Postagem</p>
        <p>Ações</p>
      </li>


      @for (post of listPost$ | async; track post.id) {
      <li>
        <p>
          <a href="post/{{post.title}}">{{ post.title }}</a>
        </p>
        <p>{{ post.date | transformDate}}</p>
        <p>
          <button class="btn-modify" (click)="alterarPost(post)">Alterar</button>
          <button class="btn-delete" (click)="deletarPost(post)">Excluir</button>
        </p>
      </li>
      }@empty {
        <li>
          <p>Nenhum post foi encontrado!</p>
        </li>
      }
    </ol>
  </div>
</section>
