<header>
  <div class="top-site">
    <div class="top-text-logo">
      <p><span>A</span>lexsandro<span>CS</span></p>
    </div>

    <div class="top-procura">
      <form class="form-search">
        <span class="material-symbols-outlined">search</span>
        <input class="input-search" type="text" placeholder="Faça sua pesquisa aqui...">
      </form>
    </div>

    <div class="top-menu">
      <ol>
        <li>
          <p>
            <a href="/">Inicio</a>
          </p>
        </li>
        <li>
          <p>
            <a href="/sobre">Sobre</a>
          </p>
        </li>
        <li>
          <p>
            <a href="/login">Login</a>
          </p>
        </li>
      </ol>
    </div>

    <div class="btn-procura">
      <span class="material-symbols-outlined">search</span>
    </div>
  </div>
</header>
