<header>
  <div class="top-site">
    <div class="top-text-logo">
      <p><span>A</span>lexsandro<span>CS</span></p>
    </div>

    <div class="top-procura">
      <form class="form-search">
        <span class="material-symbols-outlined">search</span>
        <input class="input-search" type="text" placeholder="Faça sua pesquisa aqui...">
      </form>
    </div>

    <div class="top-menu">
      <ol>
        <li>
          <p>Inicio</p>
        </li>
        <li>
          <p>Sobre</p>
        </li>
        <li>
          <p>Login</p>
        </li>
      </ol>
    </div>
  </div>
</header>
