<section>
  <div class="list-posters">
    <div class="title-list-post">
      <p>Criar novo post</p>
    </div>

    <form class="form-novo-post" [formGroup]="form" action="javascript:void(0)">
      <input type="text" name="title" formControlName="title" placeholder="título">

      <editor name="content" formControlName="content" apiKey="akdv6tedbfr7phl82c0bkcnj4mt6s3b1xfav3lx4gtrj5zza"
      initialValue="Digite o conteúdo do Post..."
      [init]="{plugins: 'lists link table code help wordcount'}">
      </editor>

      <input type="text" name="tag" formControlName="tag" placeholder="tags">
      <input type="text" name="imageLink" formControlName="imageLink" placeholder="Link da imagem">

      <div class="botoes-form">
        <button class="btn-create" [disabled]="!form.valid" (click)="enviarPost()" type="submit">Enviar</button>
        <button class="btn-delete" (click)="cancelarEnvio()" type="submit">Voltar</button>
      </div>
    </form>
  </div>
</section>
