<div class="form-login">
  <form [formGroup]="formLogin">

    <h2>ENTRAR</h2>

    <div class="box-email">
      <span class="icons material-symbols-outlined">email</span>
      <input type="text" placeholder="E-mail" formControlName="email">
    </div>

    <div class="box-senha">
      <span class="icons material-symbols-outlined">password</span>
      <input [type]="passwordInput?'password':'text'" placeholder="Senha" formControlName="password">
      <span (click)="toggleSenha()">
        @if (senhaInput){
          <span class="visibility material-symbols-outlined">visibility</span>
        }
        @else{
          <span class="visibility material-symbols-outlined">visibility_off</span>
        }
      </span>
    </div>

    <button type="submit" class="btn-logar" (click)="enviarLogin()">Entrar</button>

  </form>
</div>
