<section>

  <div class="box_apressentation">
    <div class="box-title">
      <p>Sobre mim!</p>
    </div>
    <div class="apressentation-img">
      <img src="../../../../assets/images/PhotoMy.png" alt="">
    </div>
    <div class="apressentation-informacoes">
      <p class="titles-in-the-box">Apresentação</p>

      <div class="text-apressentation">
        <p>Olá me chamo Alexsandro da Conceição Soares, atualmente estou cursando o 4º período de Analise e Desenvolvimento de Software pela Faculdade interativa de São Paulo.</p>
        <p>Sou uma pessoa que tem um interesse genuíno pela área da tecnologia, com alguns cursos de informática quando jovem. Iniciei em programação web em 2015 criando sites de animes e blogs com HTML, CSS, Jquery e PHP, porém descontinuei na programação por outros fatores, voltei ao mundo da programação em 2022 como um hobby e hoje eu penso em seguir na área da programação.</p>
        <p>Atualmente eu tenho focado em desenvolvimento web (backend e frontend) e construção de API's, sou um entusiasta de segurança de dados e estrutura de dados, também tenho interesse em gestão de projetos na área tecnológica, sempre busco entender o máximo de algo que estou utilizando e entender toda estrutura de um projeto é algo muito divertido para mim.</p>

        <p>Eu também faço alguns vídeos sobre programação para o youtube de vez enquando, clique no ícone do youtube e veja meu canal!</p>
      </div>

      <p class="titles-in-the-box">Contato e Redes Sociais</p>

      <ol>
        <!-- linkedin -->
        <li>
          <a href="https://www.linkedin.com/in/alexsandrocs/">
            <img src="../../../../assets/icons/linkedin.png" alt="Link direto para o Linkedin">
          </a>
        </li>
        <!-- gmail -->
        <li>
          <a href="">
            <img src="../../../../assets/icons/instagram.png" alt="">
          </a>
        </li>
        <!-- youtube -->
        <li>
          <a href="http://www.youtube.com/@AlexsandroCS">
            <img src="../../../../assets/icons/youtube.png" alt="">
          </a>
        </li>
        <!-- github -->
        <li>
          <a href="https://github.com/AlexsandroCS">
            <img src="../../../../assets/icons/github.png" alt="">
          </a>
        </li>
        <!-- whats -->
        <li>
          <a href="https://wa.me/5511934363210">
            <img src="../../../../assets/icons/whatsapp.png" alt="">
          </a>
        </li>
        <!-- CV impressora -->
        <li>
          <a href="../../../../../assets/curriculo/CV Alexsandro Portifólio.pdf" target="_blank">
            <img src="../../../../assets/icons/impressora.png" alt="">
          </a>
        </li>
      </ol>
    </div>
  </div>

  <div class="box_informations">
    <div class="box-title">
      <p>Tecnologias conhecidas</p>
    </div>

    <div class="informations-languages">
      <ol>
        <li>
          <a href="">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg"/>
            <p>HTML</p>
          </a>
        </li>
        <li>
          <a href="">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg"/>
            <p>CSS</p>
          </a>
        </li>
        <li>
          <a href="">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg"/>
            <p>Typescript</p>
          </a>
        </li>
        <li>
          <a href="">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg"/>
            <p>Angular</p>
          </a>
        </li>
        <li>
          <a href="">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg"/>
            <p>Java</p>
          </a>
        </li>
        <li>
          <a href="">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/spring/spring-original.svg"/>
            <p>Spring</p>
          </a>
        </li>
        <li>
          <a href="">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original.svg"/>
            <p>MySQL</p>
          </a>
        </li>
        <li>
          <a href="">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"/>
            <p>Github</p>
          </a>
        </li>
        <li>
          <a href="">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linux/linux-original.svg"/>
            <p>Linux</p>
          </a>
        </li>
        <li>
          <a href="">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/docker/docker-original.svg"/>
            <p>Docker</p>
          </a>
        </li>
      </ol>
    </div>
  </div>

  <div class="box_about_site">
    <div class="box-title">
      <p>Sobre o site</p>
    </div>

    <div class="sobre-site">
      <div class="apressentation-informacoes">
        <p>Inicialmente na criação desse site eu pensei em fazer apenas um portifólio de página única e simples, mostrando as tecnologias que tenho conhecimento
          e algumas informações sobre minha pessoa, mas é algo que muitas pessoas fazem e também é muito simples. Então eu decidi fazer um blog onde eu postaria
          todas as minhas anotações de tecnologias que aprendi ou estou aprendendo. Eu também pensei que na construção desse site eu poderia me desafiar implementando
          funcionalidades mais complexas, pra consolidar ainda mais meu conhecimento e tentar ter uma experiência o mais próximo possível na construção de um projeto.
        </p>

        <p>O site foi construído com as seguintes tecnologias: backend criei um API Rest utilizando o java com Spring Web, Spring Security, JPA e JWT. No frontend, eu optei por utilizar
          Angular, que era e ainda é uma tecnologia que eu estou estudando, mas nesse projeto eu não utilizei o Angular Material e nenhum framework de CSS, todo
          HMLT, CSS e Typescript foi escrito por mim mesmo. Também fiz todo o versionamento da construção do site no github, porém estão privados por motivos óbvios.
        </p>

        <p>Para fazer o armazenamento das postagens do site, eu utilizei o MySQL.</p>

        <p>Também fiz a integração do TinyMCE, que é uma plataforma para criar conteúdos em um site, fiz seu uso para criar e alterar as postagens no site.</p>
      </div>
    </div>
  </div>
</section>
