<footer>
  <div class="final">
    <p id="p1">AlexsandroCS - 2024</p>
    <p id="p2">E-mail: {{ email }}<br>Whatsapp: (11) 93436-3210</p>
  </div>

  <div class="final-conteudo">
    <a href="https://www.linkedin.com/in/alexsandrocs/">Linkedin</a>
    <a href="../../../../../assets/curriculo/CV Alexsandro Portifólio.pdf" target="_blank">Currículo</a>
    <a href="http://www.youtube.com/@AlexsandroCS">Youtube</a>
    <a href="https://github.com/AlexsandroCS">Github</a>
    <a href="https://wa.me/5511934363210">Whatsapp</a>
  </div>
</footer>
