<aside>
  <div class="image-user">
    <img src="../../../../assets/images/AlexsandroCartoon.png" alt="">
  </div>

  <div class="info-user">
    <div class="info-dados">
      <div class="title-biografia">
        <p>Apresentação:</p>
      </div>
      <ol>
        <li>
          <span>Nome</span>
          <p>Alexsandro Soares</p>
        </li>
        <li>
            <span>Idade</span>
            <p>25</p>
        </li>
        <li>
            <span>Cidade</span>
            <p>São Paulo - SP</p>
        </li>
      </ol>
    </div>

    <div class="info-dados">
      <div class="title-biografia">
        <p>Contato:</p>
      </div>
      <ol>
        <li>
          <span>E-mail</span>
          <p>{{ email }}</p>
        </li>
        <li>
          <span>Número</span>
          <p>(11) 934363210</p>
        </li>
      </ol>
    </div>

    <div class="info-dados">
      <div class="title-biografia">
        <p>Redes sociais:</p>
      </div>
      <ol>
        <li>
          <span>YouTube</span>
          <p>AlexsandroCS</p>
        </li>
        <li>
          <span>Instagram</span>
          <p>AlexsandroCS</p>
        </li>
      </ol>
    </div>

    <div class="info-dados">
      <div class="title-biografia">
        <p>Sobre mim:</p>
      </div>
      <ol>
        <li>
          <span>Preferência de vaga</span>
          <p>Presencial, Híbrido ou Remoto</p>
        </li>
        <li>
          <span>Sistema principal</span>
          <p>Linux Manjaro XFCE</p>
        </li>
        <li>
          <span>Linguagem favorita</span>
          <p>Java</p>
        </li>
        <li>
          <span>Gosto musical</span>
          <p>Clássica, Instrumental e Rock</p>
        </li>
        <li>
          <span>Hobbie 1</span>
          <p>Bioquímica e Citologia</p>
        </li>
        <li>
          <span>Hobbie 2</span>
          <p>Calistenia</p>
        </li>
      </ol>
    </div>
  </div>
</aside>
