<aside>
  <div class="image-user">
    <img src="../../../../assets/images/AlexsandroCartoon.png" alt="">
  </div>

  <div class="info-user">
    <ol>
      <li>
          <span>Nome</span>
          <p>AlexsandroCS</p>
      </li>
      <li>
          <span>Cidade</span>
          <p>São Paulo</p>
      </li>
      <li>
          <span>Email</span>
          <p>{{ email }}</p>
      </li>
      <li>
          <span>Nome</span>
          <p>AlexsandroCS</p>
      </li>
      <li>
          <span>Nome</span>
          <p>AlexsandroCS</p>
      </li>
      <li>
          <span>Nome</span>
          <p>AlexsandroCS</p>
      </li>
      <li>
        <span>Nome</span>
        <p>AlexsandroCS</p>
    </li>
    <li>
        <span>Cidade</span>
        <p>São Paulo</p>
    </li>
    <li>
        <span>Email</span>
        <p>{{ email }}</p>
    </li>
    <li>
        <span>Nome</span>
        <p>AlexsandroCS</p>
    </li>
    <li>
        <span>Nome</span>
        <p>AlexsandroCS</p>
    </li>
    <li>
        <span>Nome</span>
        <p>AlexsandroCS</p>
    </li>
    <li>
      <span>Nome</span>
      <p>AlexsandroCS</p>
  </li>
  <li>
      <span>Cidade</span>
      <p>São Paulo</p>
  </li>
  <li>
      <span>Email</span>
      <p>{{ email }}</p>
  </li>
  <li>
      <span>Nome</span>
      <p>AlexsandroCS</p>
  </li>
  <li>
      <span>Nome</span>
      <p>AlexsandroCS</p>
  </li>
  <li>
      <span>Nome</span>
      <p>AlexsandroCS</p>
  </li>
    </ol>
  </div>
</aside>
