@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body{
  //background-image: url("./assets/images/Dark_moon.png");
  background-color: #e4e4e4;
  //background-repeat: no-repeat;
  //background-attachment: fixed;
  //background-size: 100%;
  margin: 0;
  padding: 0;
}

app-root{
  display: grid;
  grid-template-areas:
    "header header"
    "aside section"
    "footer footer";
}

@media (max-width: 700px){
  app-root{
    grid-template-areas:
      "header"
      "aside"
      "section"
      "footer";
  }
}


// títulos de informações.
.title-biografia{
  width: 200px;
  display: inline-flex;
  background-color: #007acc;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 0.2%;
}
.title-biografia p{
  margin: 0;
  padding: 5px;
  color: #fff;
  font-family: 'Alata', sans-serif;
}

.text-biografia p{
  margin: 0 2% 1% 2%;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 600;
}
