
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ACSPortifolio-frontend-primary: mat.define-palette(mat.$indigo-palette);
$ACSPortifolio-frontend-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ACSPortifolio-frontend-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ACSPortifolio-frontend-theme: mat.define-light-theme((
  color: (
    primary: $ACSPortifolio-frontend-primary,
    accent: $ACSPortifolio-frontend-accent,
    warn: $ACSPortifolio-frontend-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($ACSPortifolio-frontend-theme);

@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body{
  margin: 0;
  padding: 0;
  background-color: #e4e4e4;
}
core-home, root-home-admin, app-form-admin{
  display: grid;
  grid-template-columns: 14% auto;
  grid-template-areas:
  "header header"
  "aside section"
  "footer footer";
}

@media (max-width: 1530px){
  core-home, root-home-admin, app-form-admin{
    grid-template-columns: 18% auto;
  }
}

@media (max-width: 1180px){
  core-home, root-home-admin, app-form-admin{
    grid-template-columns: 22% auto;
  }
}

@media (max-width: 970px){
  core-home, root-home-admin, app-form-admin{
    grid-template-columns: 25% auto;
  }
}

@media (max-width: 850px){
  core-home, root-home-admin, app-form-admin{
    grid-template-columns: auto 70%;
  }
}

@media (max-width: 705px){
  core-home, root-home-admin, app-form-admin{
    grid-template-columns: auto;
    grid-template-areas: "header" "aside" "section" "footer";
  }
}

// títulos de informações.
.title-biografia{
  width: 200px;
  display: inline-flex;
  background-color: #007acc;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 0.2%;
}
.title-biografia p{
  margin: 0;
  padding: 5px;
  color: #fff;
  font-family: 'Alata', sans-serif;
}

.text-biografia p{
  margin: 0 2% 1% 2%;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 600;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

section{
  width: 100%;
}

.list-posters{
  width: 90%;
  height: 800px;
  background-color: #fff;
  margin: 2% auto;
  border-radius: 4px;
}

.title-list-post{
  background-color: #3a4655;
  border-radius: 4px 4px 0 0;
}
.title-list-post p{
  padding: 1%;
  color: #ccc;
  font-family: 'Alata', sans-serif;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 0;
}
