<section>
  <div class="title-list-post-inicio">
    <p>Postagens</p>
  </div>

  <div class="post-projects">
    @for (post of listPostPrincipal$ | async; track post.id) {
    <div class="bloco-postagem">
        <div class="image-postagem">
          <img src="{{post.imageLink}}" alt="">
        </div>

        <div class="titulo-postagem">
          <p>
            <a href="post/{{configurandoTitleLinkSite(post.title)}}">{{post.title}}</a>
          </p>
        </div>

        <div class="assunto-postagem">
          <p>Tag:</p>
          @for (item of configuraTag(post.tag); track item) {
            <span>{{configuraTag(item)}}</span>
          }
        </div>

        <div class="data-postagem">
          <p>Data:</p>
          <span>{{post.date | transformDate}}</span>
        </div>

        <div class="spoiler-postagem">
          <p>{{removeTagsHtml(post.content)}}</p>
          <a href="post/{{configurandoTitleLinkSite(post.title)}}">
            <span> ver mais ...</span>
          </a>
        </div>
      </div>
    }
  </div>
</section>
