<div class="biografia-user">
  <div class="title-biografia">
    <p>Olá eu sou o Alexsandro:</p>
  </div>

  <div class="text-biografia">
    <!-- <p>Sou estudante de Análise e Desenvolvimento de Software, atualmente no 4º período, focado em desenvolvimento web e API's, também gosto de estrutura e segurança de dados. Sou uma pessoa que sempre está em busca de novos conhecimentos para me aperfeiçoar cada vez mais na área de desenvolvimento.</p> -->
    <p>Ao contrário do que se acredita, Lorem Ipsum não é simplesmente um texto randômico. Com mais de 2000 anos, suas raízes podem ser encontradas em uma obra de literatura latina clássica datada de 45 AC. Richard McClintock, um professor de latim do Hampden-Sydney College na Virginia, pesquisou uma das mais obscuras palavras em latim, consectetur, oriunda de uma passagem de Lorem Ipsum, e, procurando por entre citações da palavra na literatura clássica, descobriu a sua indubitável origem.</p>
  </div>

  <div class="title-biografia">
    <p>Meus conhecimentos:</p>
  </div>

  <div class="skill-biografia">
    <ol>
      <li>
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" />
        <span>HTML</span>
      </li>
      <li>
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" />
        <span>CSS</span>
      </li>
      <li>
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg" />
        <span>Typescript</span>
      </li>
      <li>
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg" />
        <span>Angular</span>
      </li>
      <li>
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg" />
        <span>Java</span>
      </li>
      <li>
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/spring/spring-original.svg" />
        <span>Spring</span>
      </li>
      <li>
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original.svg" />
        <span>MySQL</span>
      </li>
      <li>
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" />
        <span>Git e GitHub</span>
      </li>
      <li>
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linux/linux-original.svg" />
        <span>Manjaro</span>
      </li>
      <li>
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/docker/docker-original.svg" />
        <span>Docker</span>
      </li>
    </ol>
  </div>
</div>
