// Biografia

.biografia-user{
  width: 90%;
  background-color: #ccc;
  margin: 4% auto 6% auto;
  border-radius: 4px;
}

.title-biografia{
  display: inline-flex;
  background-color: #1e1e1e;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 0.2%;
}
.title-biografia p{
  margin: 0;
  padding: 5px;
  color: #ccc;
  font-family: 'Alata', sans-serif;
}

.text-biografia p{
  margin: 0 2% 1% 2%;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.skill-biografia img{
  align-self: center;
  width: 32px;
}

.skill-biografia ol{
  display: contents;
  margin: 0;
  list-style: none;
}
.skill-biografia ol li{
  display: inline-flex;
  border-radius: 8px;
  background-color: #1e1e1e;
  margin: 1%;
  padding: 5px;
}
.skill-biografia ol li:hover{
  background-color: #494949;
}

.skill-biografia ol li span{
  align-self: center;
  font-size: 16px;
  color: #fff;
  margin-left: 3px;
  font-family: "Coda";
}
