<div class="biografia-user">
  <div class="title-biografia">
    <p>Olá eu sou o Alexsandro:</p>
  </div>
  <div class="text-biografia">
    <p>Sou estudante de Análise e Desenvolvimento de Software, atualmente no 4º período, focado em desenvolvimento web, também gosto de estrutura e segurança de dados. Sou uma pessoa que sempre está em busca de novos conhecimentos para me aperfeiçoar cada vez mais na área de desenvolvimento.</p>
  </div>

  <div class="title-biografia">
    <p>Meus conhecimentos:</p>
  </div>

  <div class="skill-biografia">
    <ol>
      <li>
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" />
        <span>HTML</span>
      </li>
      <li>
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" />
        <span>CSS</span>
      </li>
      <li>
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg" />
        <span>Typescript</span>
      </li>
      <li>
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg" />
        <span>Angular</span>
      </li>
      <li>
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg" />
        <span>Java</span>
      </li>
      <li>
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/spring/spring-original.svg" />
        <span>Spring</span>
      </li>
      <li>
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original.svg" />
        <span>MySQL</span>
      </li>
      <li>
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" />
        <span>Git e GitHub</span>
      </li>
      <li>
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linux/linux-original.svg" />
        <span>Manjaro</span>
      </li>
    </ol>
  </div>
</div>
