<aside>

  <div class="painel-post-amn">

    <div class="painel-dados-amn">
      <div class="title-biografia">
        <p>Painel Administrador:</p>
      </div>
      <ol>
        <a (click)="novoPost()">
          <li>
            <p>Criar Post</p>
          </li>
        </a>

        <a href="#">
          <li>
              <p>Z</p>
          </li>
        </a>

        <a href="#">
          <li>
              <p>Y</p>
          </li>
        </a>
      </ol>
    </div>

  </div>
</aside>
