.painel-post-amn{
  grid-area: aside;
  width: 100%;
  background-color: #fff;
  padding: 7% 0 5% 0;
}
.painel-dados-amn{
  width: 90%;
}
.painel-dados-amn ol{
  width: 100%;
  list-style: none;
  margin: 1% 0 0 0;
  padding: 0 0 0 15px;
}

.painel-dados-amn ol a{
  text-decoration: none;
  color: #1e1e1e;
}

.painel-dados-amn ol li{
  padding: 3px;
  border-bottom: 1px solid #e4e4e4;
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  font-weight: 600;
}
.painel-dados-amn ol li:hover{
  background-color: #3a4655;
  color: #fff;
  cursor: pointer;
}
